<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Build number for this is $BUILD_NUMBER&quot;
echo &quot;Build ID is $BUILD_ID&quot;
echo &quot;Build url is $BUILD_URL&quot;
echo &quot;Job name is $JOB_NAME&quot;	
echo &quot;**************************************&quot;
echo &quot;Course name is $NAME_OF_THE_COURSE&quot;
echo &quot;Country name is $COUNTRY&quot;
echo2</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.28">
      <recipients>vfmx@mail.ru</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>